<!DOCTYPE html>

<html>
    <head>
        <title>Story 6</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    </head>

    <body>
        <div class="container-fluid">
            <div class="row-12">
                <div class="d-flex justify-content-center">
                    <h1>Hello apa kabar?</h1>
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <form action="." method="post" id="djangoform">
                        <div class="d-flex justify-content-center">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <br>
                        </div>
                        <div class="d-flex justify-content-center">
                            <input type="submit" value ="Submit" id="submitbutton">
                        </div>
                    </form>
                </div>

                <div class="col-6">
                    <div class="d-flex justify-content-center">
                        <div class="displaytext">
                            <pre>{{ txt }}</pre>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row-12">
                <div class="d-flex justify-content-center">
                    <h4>Lab 6</h4>
                </div>
            </div>


        </div>

    </body>

</html>
